@model TennisApplication.Dtos.User.UserCreateDto

@{
    ViewData["Title"] = "Create new user";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>


<script src="js/fileScript.js"></script>

<html>
<body>
@using (Html.BeginForm("CreateUser", "Register", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <h2>Create account</h2>
       
    <label>First name: </label>
    @Html.TextBoxFor(u => u.FirstName, new { required = string.Empty})
    <br>
       
    <label>Last name: </label>
    @Html.TextBoxFor(u => u.LastName, new { required = string.Empty})
    <br>
       
    @Html.LabelFor(u => u.EMail)
    @Html.TextBoxFor(u => u.EMail, new { required = string.Empty})
    @Html.ValidationMessageFor(u => u.EMail, "", new {@class = "text-danger"})
    if (!ViewData.ModelState.IsValid)
    {
        <span class="text-danger">
            @ViewData.ModelState["EMailExists"].Errors[0].ErrorMessage
        </span>
    }
    <br>
       
    
    @Html.LabelFor(u => u.Password)
    @Html.PasswordFor(u => u.Password, new { required = string.Empty})
    @Html.ValidationMessageFor(u => u.Password, "", new {@class = "text-danger"})
    <br> 
    
    @Html.LabelFor(u => u.ConfirmPassword)
    @Html.PasswordFor(u => u.ConfirmPassword, new { required = string.Empty})
    @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new {@class = "text-danger"})
    <br> 
    
    <label>Role </label>
    @Html.DropDownListFor(u => u.Role, Enum.GetNames(typeof(Role)).Select(name => new SelectListItem()
    {
        Text = name, 
        Value = name
    }))
    <br>
        

    <div class="btn btn-primary">
        <label for="upload" class="custom-file-upload" id="choose-file-label">
            Choose photo
        </label>
        <input type="file" id="upload" style="display: none" name="upload"/>
    </div>
        
    <br><br>
    <div id="imgPreview" class="thumbnail" style="display:none">
        <img class="img-responsive" id="targetImg" />
        <div class="caption">
            <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
            <span id="description"></span>
        </div>
    </div>
    
    <input type="submit" value="Create user">           
       
}
</body>
</html>