@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TennisApplication.Dtos.User
@using Microsoft.AspNetCore.Http
@using TennisApplication.Others
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<TennisApplication.Dtos.Tournament.TournamentReadDto>
@{
    ViewData["Title"] = "Tournaments";
    DeserializeUser deserializable = new DeserializeUser(new HttpContextAccessor());
    UserReadDto loggedUser = deserializable.GetLoggedUser();

}
@{
    bool isUserWithTournamentDirectorRole = 
      loggedUser != null && loggedUser.Role.Equals(Role.TournamentDirector);
    bool isUserWithPlayerRole = 
        loggedUser != null && loggedUser.Role.Equals(Role.Player);
    
}
<!DOCTYPE html>
 <head>
 
     @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
     <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
     <script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
     $1$<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">#1#*@
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
      <script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
 </head>
 <html>
<h1>Tournaments</h1>

@if (isUserWithTournamentDirectorRole)
{
    <p>
        <a asp-controller="Tournament" asp-action="CreateTournamentView">Create New</a>
    </p>
}
@if (!ViewData.ModelState.IsValid)
{
    <span class="text-danger">
        @ViewData.ModelState["CantDelete"].Errors[0].ErrorMessage
        <br>
    </span>
}
<body>
<div class="container">
    <table class="table sortable">
        <thead class="thead-dark">


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                
            </th>

        </tr>
    
        </thead>
    
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersNumber)
                </td>
                <td>
                    @Html.DisplayName(item.Completed ? "Yes" : "No")
                </td>
                <td>
                    @if (item.Completed)
                    {
                        <a asp-controller="CourseTournament" asp-action="CompletedTournamentDetail" asp-route-id="@item.Id">Detail</a>
                    }
                    else
                    {
                        @if (item.Started)
                        {
                            <a asp-controller="CourseTournament" asp-action="CompletedTournamentDetail" asp-route-id="@item.Id">Live</a>
                        }
                        else
                        {
                            @if (isUserWithPlayerRole && item.Date > DateTime.Now)
                            {
                                <a asp-controller="Tournament" asp-action="GetIncomingTournament">Go to the enrolments</a>
                            }
                        }
                    }

                    
                    @if (isUserWithTournamentDirectorRole)
                    {
                        <a asp-controller="Tournament" asp-action="UpdateTournamentView" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Tournament" asp-action="DeleteTournament" asp-route-id="@item.Id">Delete</a>
                    }


                </td>
            </tr>
        }
        </tbody>
    </table>
    
</div>
</body>

</html>