@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TennisApplication.Others
@model IEnumerable<TennisApplication.Dtos.Tournament.TournamentReadDto>
@{
    ViewData["Title"] = "Tournament";
}
@{
    bool isUserWithTournamentDirectorRole = 
      LoggedUser.User != null && LoggedUser.User.Role.Equals(Role.TournamentDirector);
    
}
<h1>Tournaments</h1>

@if (isUserWithTournamentDirectorRole)
{
    <p>
        <a asp-controller="Tournament" asp-action="CreateTournamentView">Create New</a>
    </p>
}

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersNumber)
            </th>
            <th></th>
        </tr>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersNumber)
            </td>
            <td>
                @*todo not working yet*@
                @if (isUserWithTournamentDirectorRole)
                {
                    <a asp-controller="Tournament" asp-action="PartialTournamentUpdate" asp-route-id="@item.Id">Edit |</a> 
                }
                <a asp-controller="Tournament" asp-action="GetTournamentById" asp-route-id="@item.Id">Details</a> 
                
                @if (isUserWithTournamentDirectorRole)
                {
                    
                    <a asp-controller="Tournament" asp-action="DeleteTournament" asp-route-id="@item.Id">| Delete</a>
                    @*@Html.ActionLink("Delete", "DeleteTournament", "Tournament",
                        new {id = item.Id}, null)*@
                }
                

            </td>
        </tr>
}
    </tbody>
</table>