@using TennisApplication.Dtos.User
@using TennisApplication.Others
@using Microsoft.AspNetCore.Http
@model List<TennisApplication.Others.TournamentParticipants>
@{
    ViewData["Title"] = "Incoming tournament";
    DeserializeUser deserializable = new DeserializeUser(new HttpContextAccessor());
    UserReadDto loggedUser = deserializable.GetLoggedUser();
}

<h2 class="my-text-color">Incoming tournaments</h2>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div id="accordion">
    @foreach (var tournamentUser in Model)
    {
        var id = tournamentUser.TournamentDto.Id;
        var bodyId = "Body" + id;

        
        <div class="card mb-1" >
            <div class="card-header" style="background: #3acead" id="@id">
                <h5 class="mb-0">
                    <button class="my-accordion-card btn-block" style="text-align: left" data-toggle="collapse" data-target="#@bodyId" aria-expanded="true" aria-controls="@bodyId">
                        @tournamentUser.TournamentDto.Name
                    </button>
                </h5>
            </div>

            <div id="@bodyId" class="collapse" aria-labelledby="@id" data-parent="#accordion">
                <div class="card-body">
                    <div>
                        <p>
                            @if (loggedUser!=null )
                            {
                                int numberOfParticipants = tournamentUser.Users?.Count ?? 0;
                                @if (!tournamentUser.IsRegistered && loggedUser.Role == Role.Player && 
                                     numberOfParticipants < tournamentUser.TournamentDto.DrawSize)
                                {
                                    
                                    <a href='@Url.Action("EnrolTournament", "Enrolment", new 
                                             {
                                                 id = @tournamentUser.TournamentDto.Id
                                             })'>
                                        <button class="my-button mr-2" style="border-radius: 10px">Save me</button>
                                    </a>
                                    
                                
                                }
                                @if (tournamentUser.IsRegistered && loggedUser.Role == Role.Player)
                                {
                                    <a href='@Url.Action("WithdrawTournament", "Enrolment", new 
                                             {
                                                 id = @tournamentUser.TournamentDto.Id
                                             })'>
                                        <button class="my-button mr-2" style="border-radius: 10px">Withdraw</button>
                                    </a>
                                
                                }
                                @if (loggedUser.Role == Role.TournamentDirector && numberOfParticipants > 1)
                                {
                                    <a href='@Url.Action("StartTournament", "CourseTournament", new 
                                             {
                                                 id = @tournamentUser.TournamentDto.Id
                                             })'>
                                        <button class="my-button mr-2" style="border-radius: 10px">Start the tournament</button>
                                    </a>

                                }
                            }
                            <button type="button" class="my-button mb-3" style="border-radius: 10px" data-toggle="modal" data-target="#exampleModal">
                                Detail
                            </button>
                        </p>
                        
                        <partial name="TournamentDetailPopup" id = "exampleModal" model="@tournamentUser.TournamentDto"/>
                        
                        
                        @{
                            if (tournamentUser.Users != null && tournamentUser.Users.Count == 0)
                            {
                                <h4 class="my-text-color2">No player signed up</h4>
                            }
                            else
                            {
                                <h4 class="my-text-color2">Players signed up</h4>
                                <table class="table">
                                    <thead>
                                    <tr>                                
                                        <th>
                                            <label>#</label>
                                        </th>
                                        <th>
                                            <label>First name</label>
                                        </th>
                                        <th>
                                            <label>Last name</label>
                                        </th>
                                        <th>
                                            <label>Player matches</label>
                                        </th>
                                    </tr>

                                    </thead>
                                    <tbody>

                                    @{
                                        var i = 1;
                                    }

                                    @if (tournamentUser.Users != null)
                                    {
                                        foreach (var user in tournamentUser.Users)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => user.FirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => user.LastName)
                                                </td>
                                                <td>

                                                    <a asp-controller="UserAchievements" asp-action="PlayerMatches" asp-route-id="@user.Id">See player matches</a>

                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }




                                    </tbody>
                                </table>
                                
                            }
                        }
                        

                    </div>
                </div>
            </div>

        </div>
    }

</div>

</body>
</html>