@model List<TennisApplication.Dtos.Enrolment.TournamentUserReadDto>
@{
    ViewData["Title"] = "Incoming tournament";
}

<h1>Incoming tournament</h1>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>accordion demo</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div id="accordion">
    @foreach (var tournamentUser in Model)
    {
        <h3>@tournamentUser.Tournament.Name</h3>
        <div>
            @if (!tournamentUser.IsRegistered)
            {
                <p>
                    <a asp-controller="Enrolment" asp-action="EnrolTournament" asp-route-id="@tournamentUser.Tournament.Id">Save me</a>
                </p>
            }
            
            <p>
                <a asp-controller="CourseTournament" asp-action="StartTournament" asp-route-id="@tournamentUser.Tournament.Id">Start the tournament</a>
            </p>

            <p>
                <a asp-controller="Tournament" asp-action="GetTournamentById" asp-route-id="@tournamentUser.Tournament.Id">Tournament detail</a>
            </p>
            
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <label>First name</label>
                        </th>
                        <th>
                            <label>Last name</label>
                        </th>
                        <th>
                            <label>E-mail</label>
                        </th>
                    </tr>
                <thead class="thead-dark">
                <tbody>
                @foreach (var user in tournamentUser.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.EMail)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

</div>

<script>
$( "#accordion" ).accordion();
</script>

</body>
</html>