@using TennisApplication.Dtos.User
@using TennisApplication.Others
@using Microsoft.AspNetCore.Http
@model List<TennisApplication.Others.TournamentParticipants>
@{
    ViewData["Title"] = "Incoming tournament";
    DeserializeUser deserializable = new DeserializeUser(new HttpContextAccessor());
    UserReadDto loggedUser = deserializable.GetLoggedUser();
}

<h1>Incoming tournaments</h1>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>accordion demo</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div id="accordion">
    @foreach (var tournamentUser in Model)
    {
        var id = tournamentUser.TournamentDto.Id;
        var bodyId = "Body" + id;

        <div class="card">
            <div class="card-header" id="@id">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@bodyId" aria-expanded="true" aria-controls="@bodyId">
                        @tournamentUser.TournamentDto.Name
                    </button>
                </h5>
            </div>

            <div id="@bodyId" class="collapse" aria-labelledby="@id" data-parent="#accordion">
                <div class="card-body">
                    <div>

                        @if (loggedUser!=null )
                        {
                            int numberOfParticipants = tournamentUser.Users?.Count ?? 0;
                            @if (!tournamentUser.IsRegistered && loggedUser.Role == Role.Player && numberOfParticipants < tournamentUser.TournamentDto.DrawSize)
                            {
                                <p>
                                    <a asp-controller="Enrolment" asp-action="EnrolTournament" asp-route-id="@tournamentUser.TournamentDto.Id">Save me</a>
                                </p>
                            }
                            @if (tournamentUser.IsRegistered && loggedUser.Role == Role.Player)
                            {
                                <p>
                                    <a asp-controller="Enrolment" asp-action="WithdrawTournament" asp-route-id="@tournamentUser.TournamentDto.Id">Withdraw</a>
                                </p>
                            }
                            @if (loggedUser.Role == Role.TournamentDirector && numberOfParticipants > 1)
                            {
                                <p>
                                    <a asp-controller="CourseTournament" asp-action="StartTournament" asp-route-id="@tournamentUser.TournamentDto.Id">
                                        Start the tournament
                                    </a>
                                </p>
                            }
                        }



                                
                                @*<a asp-controller="Tournament" asp-action="GetTournamentById" asp-route-id="@tournamentUser.Tournament.Id">
                                Tournament detail
                            </a>*@
                            <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#exampleModal">
                                Detail
                            </button>
                        <partial name="TournamentDetailPopup" id = "exampleModal" model="@tournamentUser.TournamentDto"/>
                        
                        
                        @{
                            if (tournamentUser.Users != null && tournamentUser.Users.Count == 0)
                            {
                                <h4>No player signed up</h4>
                            }
                            else
                            {
                                <h4>Players signed up</h4>
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>                                
                                        <th>
                                            <label>#</label>
                                        </th>
                                        <th>
                                            <label>First name</label>
                                        </th>
                                        <th>
                                            <label>Last name</label>
                                        </th>
                                        <th>
                                            <label>Player matches</label>
                                        </th>
                                    </tr>

                                    <thead class="thead-dark">
                                    <tbody>

                                    @{
                                        var i = 1;
                                    }

                                    @if (tournamentUser.Users != null)
                                    {
                                        foreach (var user in tournamentUser.Users)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => user.FirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => user.LastName)
                                                </td>
                                                <td>

                                                    <a asp-controller="UserAchievements" asp-action="PlayerMatches" asp-route-id="@user.Id">See player matches</a>

                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }




                                    </tbody>
                                </table>
                                
                            }
                        }
                        

                    </div>
                </div>
            </div>

        </div>
    }

</div>

</body>
</html>