@model TennisApplication.Others.TournamentCourse

@{
    ViewData["Title"] = "Completed tournament";
}

<h2>Tournament detail</h2>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>accordion demo</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

@{
    var iterator = 0;
    var tournamentCourse = Model;
}
<!--Accordion wrapper-->
<div id="accordion">
    @for (int round = 0; round < tournamentCourse.RoundsNumber; round++)
    {
        var bodyId = "Body" + round;
        
        <div class="card">
            <div class="card-header" id="@round">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@bodyId" aria-expanded="true" aria-controls="@bodyId">
                        @tournamentCourse.RoundsName[round]
                    </button>
                </h5>
            </div>
    @{
        var openFirstCollapse = round == 0 ? "collapse show" : "collapse"; 
    }
            
            <div id="@bodyId" class="@openFirstCollapse" aria-labelledby="@round" data-parent="#accordion">
                <div class="card-body">
                    <div>
                    
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>
                                    <label>Player 1</label>
                                </th>
                                <th>
                                    <label>Player 2</label>
                                </th>
                                <th>
                                    <label>Winner</label>
                                </th>
                                <th>
                                    <label>Result</label>
                                </th>
                            </tr>
                            <thead class="thead-dark">
                            <tbody>
                    
                    
                    
                    
                            @{
                                var matchesInRound = tournamentCourse.Matches.Where(m => m.Round == round + 1).ToList().Count;
                            }
                    
                            @for (int i = 0; i < matchesInRound; i++)
                            {
                    
                                var player1 = tournamentCourse.Matches[iterator].Player1.FirstName + " " + tournamentCourse.Matches[iterator].Player1.LastName;
                                var player2 = tournamentCourse.Matches[iterator].Player2.FirstName + " " + tournamentCourse.Matches[iterator].Player2.LastName;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => player1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => player2)
                                    </td>
                    
                                    <td>
                    
                                        @Html.DisplayFor(modelItem => tournamentCourse.Matches[iterator].Winner)
                                    </td>
                    
                                    <td>
                                        @Html.DisplayFor(modelItem => tournamentCourse.Matches[iterator].Result)
                                    </td>
                    
                    
                                </tr>
                                iterator++;
                            }
                    
                    
                    
                            </tbody>
                        </table>
                    
                    </div>
                </div>
            </div>
        </div>
    }

</div>
   
<script>
//$( "#accordion" ).accordion();
</script>

</body>
</html>