@using TennisApplication.Others
@using Microsoft.AspNetCore.Http
@using TennisApplication.Dtos.User
@model IEnumerable<TennisApplication.Dtos.Tournament.TournamentReadDto>

@{
    ViewBag.Title = "Ongoing all tournaments";
    DeserializeUser deserializable = new DeserializeUser(new HttpContextAccessor());
    UserReadDto loggedUser = deserializable.GetLoggedUser();
}

<h2>Ongoing tournaments</h2>
<div class="container">

    <table class="table">
        <thead class="table-info">
        <tr>
            <th style="width: 30%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 30%">
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.DrawSize)
            </th>
            <th></th>
        </tr>
        <tbody>

        @foreach (var item in Model)
        {
            @using (Html.BeginForm("GetResultsTournament", "CourseTournament", FormMethod.Post))
            {
                @Html.Hidden("TournamentId", item.Id)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrawSize)
                    </td>
                    <td>

                        @*<a asp-controller="Tournament" asp-action="GetTournamentById" asp-route-id="@item.Id">Detail</a>*@
                        @*<button type="button" class="btn btn-info btn-block mb-2" data-toggle="modal" data-target="#exampleModal">
                            Detail
                        </button>
                        <partial name="/Views/Tournament/TournamentDetailPopup.cshtml" id="exampleModal" model="@item"/>*@
                        <a asp-controller="CourseTournament" asp-action="CompletedTournamentDetail" asp-route-id="@item.Id">Live</a>
                        @if (loggedUser != null && loggedUser.Role == Role.TournamentDirector)
                        {
                            <input type="submit" class="btn btn-info btn-block" value="Resume tournament">
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>