@model IEnumerable<Tournament>

@{
    ViewBag.Title = "Ongoing all tournaments";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
<script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
<h2>Ongoing tournaments</h2>
<div class="container">
    
    <table class="table sortable">
        <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayersNumber)
            </th>
            <th></th>
        </tr>
        <tbody>
    
        @foreach (var item in Model)
        {
@using (Html.BeginForm("GetResultsTournament", "CourseTournament", FormMethod.Post))
{
    
    @Html.Hidden("TournamentId", item.Id)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayersNumber)
        </td>
        <td>
            <input type="submit" class="btn btn-info btn-block" value="Resume tournament">
        </td>
    </tr>
    
}
        }
        </tbody>
    </table>
</div>
