@model TennisApplication.Dtos.User.UserEditDto

@{
    ViewData["Title"] = "Edit account";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="js/fileScript.js"></script>



<html>
<head>
    <title></title>
</head>
<body>
<h2>Edit account</h2>
@using (Html.BeginForm("EditAccount", "Login", FormMethod.Post, new {enctype = "multipart/form-data"}))
{

    <label>First name: </label>
    @Html.TextBoxFor(u => u.FirstName, new {required = string.Empty})
    <br>

    <label>Last name: </label>
    @Html.TextBoxFor(u => u.LastName, new {required = string.Empty})
    <br>

    <label>E-mail: </label>
    @Html.TextBoxFor(u => u.EMail, new {required = string.Empty})
    <br>

    <label>Password: </label>
    @Html.PasswordFor(u => u.Password)
    @Html.ValidationMessageFor(u => u.Password, "", new {@class = "text-danger"})
    <br>

    <label>Confirm password: </label>
    @Html.PasswordFor(u => u.ConfirmPassword)
    @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new {@class = "text-danger"})
    <br>


    @if (Model.Photo.Length != 0)
    {
        <label>Photo</label>
        <br>
        <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo)"/>
    }
    else
    {
        <label>No photo</label>
    }
    <br>
        

        <div class="btn btn-primary">
            <label for="upload" id="choose-file-label">
                Choose a new photo
            </label>
            <input type="file" id="upload" style="display: none" name="upload"/>
        </div>
    <br><br>
        <div id="imgPreview" class="thumbnail" style="display:none">
            <img class="img-responsive" id="targetImg" />
            <div class="caption">
                <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                <span id="description"></span>
            </div>
        </div>
        
    <br><br>
    <input type="submit" value="Edit account">  
    
}



</body>
</html>