@model System.Collections.Generic.List<TennisApplication.Dtos.Match.MatchDto>

@{
    ViewData["Title"] = "My matches";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
<script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>

<h1>My matches</h1>
<div class="container">
    
    <table class="table sortable">
        <thead class="thead-dark">
        <tr>
            <th>
                <label>Player 1</label>
            </th>
            <th>
                <label>Player 2</label>
            </th>
            <th>
                <label>Result</label>
            </th>
            <th>
                <label>Round</label>
            </th>
            <th>
                <label>Tournament</label>
            </th>
            <th>
                <label>Tournament details</label>
            </th>
        </tr>
        <thead class="thead-dark">
        <tbody>



        @foreach (var match in Model)
        {
            var player1 = match.Player1.FirstName + " " + match.Player1.LastName;
            var player2 = match.Player2.FirstName + " " + match.Player2.LastName;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => player1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Result)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => match.Round)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Tournament.Name)
                </td>
                @if (match.Tournament.Completed)
                {
                    <td>
                        <a asp-controller="CourseTournament" asp-action="CompletedTournamentDetail" asp-route-id="@match.Tournament.Id">Click</a>
                    </td>
                }
                else
                {
                    <td>
                        @*<a asp-controller="Tournament" asp-action="GetTournamentById" asp-route-id="@match.Tournament.Id">Click</a>*@
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                            Detail
                        </button>
                        <partial name="/Views/Tournament/TournamentDetailPopup.cshtml" id="exampleModal" model="@match.Tournament"/>
                        
                    </td>
                }


            </tr>
        }




        </tbody>
    </table>

</div>